@import "tailwindcss";

@theme {
    --color-ons-night-blue: #003c57;
    --color-ons-spring-green: #a8bd3a;
    --color-ons-aqua-teal: #00a3a6;
    --color-ons-ocean-blue: #206095;
    --color-ons-sky-blue: #27a0cc;
    --color-ons-leaf-green: #0f8243;
    --color-ons-rub-red: #d0021b;
    --color-ons-jaffa-orange: #fa6401;
    --color-ons-sun-yellow: #fbc900;
    --color-ons-neon-yellow: #f0f762;
}
